.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    max-width: 1100px;
    margin-bottom: 200px;
}

.headerImg {
    width: 100%;
    height: 400px;
    background-image: url('./assets/header.jpg');
    background-position: center center;
    background-repeat: no-repeat;
    background-size: cover; 
    margin-bottom: 200px;
}

.titleBlock {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-around;
    height: 260px;
    margin-top: 80px;
    margin-bottom: 20px;
}

.nameTitle {
    color: #454545;
    font-family: "Cormorant";
    font-weight: 400;
    font-size: 80px;
}

.dateTitle {
    color: #454545;
    font-family: "Cormorant";
    font-weight: 400;
    font-size: 40px;
}

.subTitle {
    color: #dbaf96;
    font-family: "Cormorant";
    font-weight: 400;
    font-size: 30px;
}


.priglosBlock{
    width: 100%;
    padding-top: 50px;
    display: flex;
    justify-content: center;
    background: url('./assets/weddingText.svg'), url('./assets/bigHeart.svg');
    background-repeat: no-repeat, no-repeat; 
    background-position: top left,  center right;
    background-size: 80% auto, 50% auto;
}

.weddingPriglosText {
    position: absolute;
    top: -50px;
    left: 0;
    z-index: -1;
}

.backPriglosHeart {
    position: absolute;
    top: 40px;
    left: 680px;
    z-index: -1;
}

.priglosWrap {
    width: 44%;
    display: flex;
    flex-direction: column;
    margin-bottom: 200px;
}

.merriedTitle {
    color: #454545;
    font-family: "Cormorant";
    font-weight: 400;
    font-size: 60px;
    margin-bottom: 50px;
}

.merriedText {
    text-align: justify;
    color: #454545;
    font-family: "Cormorant";
    font-weight: 400;
    font-size: 20px;
    line-height: 1.45;
}

.bigDateTitle {
    height: 70px;
    display: flex;
    justify-content: center;
    align-items: center;
    border-top: 1px solid #dbaf96;
    border-bottom: 1px solid #dbaf96;
    margin-top: 20px;
    margin-bottom: 20px;
}

.dateText {
    padding-bottom: 10px;
    color: #dbaf96;
    font-family: "Cormorant";
    font-weight: 400;
    font-size: 50px;
}

.sliderWrap {
   width: 80%;
   display: flex;
   justify-content: center;
   padding-top: 70px;
   padding-bottom: 30px;
   background: url('./assets/gallery.svg');
   background-repeat: no-repeat; 
   background-position: top left;
   background-size: 80% auto, 60% auto;
}

.sliderBlock {
    width: 44%;
}


.sliderTitle {
    color: #454545;
    font-family: "Cormorant";
    font-weight: 400;
    font-size: 50px;
}

.programTitleWrap {
    width: 90%;
    margin-bottom: 70px;
 }

.programTitle {
    color: #454545;
    font-family: "Cormorant";
    font-weight: 400;
    font-size: 38px;
 }

.programWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    margin-top: 60px;
    margin-bottom: 50px;
}

.firstBlock {
    display: flex;
    gap: 30px;
    margin-bottom: 50px;
}

.imgFirst {
    position: relative;
}

.imgBlock {
   background: url('./assets/weddingBack.svg');
   background-repeat: no-repeat; 
   background-position: 50% 80%;
   background-size: 90% auto;
}

.secondBlock {
    display: flex;
    gap: 30px;
    justify-content: space-between;
}

.textBlock {
    width: 100%;
}

.secondTextBlock {
    width: 100%;
}

.row {
    width: 100%;
    display: flex;
    padding-top: 24px;
    padding-bottom: 24px;
    border-bottom: 1px solid #dbaf96;
    color: #454545;
    font-size: 24px;
    font-family: "Cormorant";
    font-weight: 400;
}

.rowTitle {
    padding-bottom: 30px;
}

.elem {
    height: 100%;
    width: 50%;
    display: flex;
    justify-content: flex-start;
    flex-wrap: wrap;
}

.wishBlock {
    width: 70%;
    padding-top: 80px;
    margin-bottom: 200px;
    background: url('./assets/wishes.svg');
    background-repeat: no-repeat; 
    background-position: 56% 6%;
    background-size: 80% auto;
}

.wishTitleWrap {
    width: 60%;
    margin-bottom: 70px;
 }

.wishTitle {
    color: #454545;
    font-family: "Cormorant";
    font-weight: 400;
    font-size: 44px;
 }

.wishText {
    text-align: justify;
    color: #454545;
    font-family: "Cormorant";
    font-weight: 400;
    font-size: 24px;
    line-height: 1.45;
}


.confirmBlock {
    width: 100%;
    padding-top: 100px;
    padding-bottom: 200px;
    display: flex;
    justify-content: center;
    background: url('./assets/enter.svg');
    background-repeat: no-repeat; 
    background-position: 80% 4%;
    background-size: 24% auto;
}

.confirmWrap {
    width: 50%;
    background-position: 100% 10%;
    background-size: 40% auto;
}


.confirmTitleWrap {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
}

.confirmTitle {
    color: #454545;
    font-family: "Cormorant";
    font-weight: 400;
    font-size: 36px;
    padding-bottom: 10px;
}

.confirmText {
    text-align: justify;
    color: #454545;
    font-family: "Cormorant";
    font-weight: 400;
    font-size: 20px;
}

.choiceBlock {
    display: flex;
    gap: 20px;
    flex-direction: column;
}

.nameBlock {
    display: flex;
    width: 100%;
    gap: 30px;
    margin-bottom: 30px;
}

.textInput {
    height: 40px;
    width: 100%;
    border-radius: 12px;
    background-color: #dbaf96;
    color: #fff;
    font-family: "Cormorant";
    font-weight: 400;
    font-size: 20px;
    line-height: 1.45;
    border: 2px solid #c69e87;
    outline:none;
    padding-left: 10px;
}

.textInput::placeholder {
    color:#ffffff;
}

.choiceElem input[type=radio] {
	display: none;
}

.choiceElem label {
	display: flex;
    align-items: center;
	cursor: pointer;
	position: relative;
	padding-left: 30px;
	margin-right: 0;
	user-select: none;
    color: #454545;
    font-family: "Cormorant";
    font-weight: 400;
    font-size: 18px;
    line-height: 1.5;
}

.choiceElem label:before {
	content: "";
	display: inline-block;
	width: 22px;
	height: 22px;
	position: absolute;
	left: 0;
	bottom: 3px;
	background: url('./assets/radio.svg') 0 0 no-repeat;
}

.choiceElem input[type=radio]:checked + label:before {
	background: url('./assets/radioChecked.svg') 0 0 no-repeat;
}

.confirmBtn {
    width: 100%;
    height: 56px;
    border-radius: 12px;
    background-color: #dbaf96;
    color: #fff;
    font-family: "Cormorant";
    font-weight: 400;
    font-size: 20px;
    line-height: 1.45;
    margin-top: 30px;
    border: none;
}

.confirmBtn:disabled {
    background-color: #cda48e;
    color: #c2c2c2;
}


.finalBlock {
    display: flex;
    width: 100%;
    gap: 120px;
}

.finalPicture {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 500px;
    width: 400px;
    border: 1px solid #dbaf96;
    overflow: hidden;
}

.finalImg {
    height: 460px;
    width: 360px;
}

.finalText {
    width: 50%;
}

.finalTitle {
    color: #454545;
    font-family: "Cormorant";
    font-weight: 400;
    font-size: 36px;
}

.finalSubtitle {
    width: 60%;
    text-align: justify;
    color: #454545;
    font-family: "Cormorant";
    font-weight: 400;
    font-size: 20px;
    padding-bottom: 30px;
}



@media (min-device-width: 0px) and (max-device-width: 568px) {
    .titleBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 170px;
        margin-top: 80px;
        margin-bottom: 60px;
        text-align: center;
    }
    .nameTitle {
        width: 50%;
        color: #454545;
        font-family: "Cormorant";
        font-weight: 400;
        font-size: 32px;
        margin-bottom: 16px;
    }
    .dateTitle {
        color: #454545;
        font-family: "Cormorant";
        font-weight: 400;
        font-size: 28px;
        margin-bottom: 26px;
    }
    
    .subTitle {
        color: #dbaf96;
        font-family: "Cormorant";
        font-weight: 400;
        font-size: 18px;
    }

    .priglosBlock{
        background-position: 0 4%,  center right;
        background-size: 90% auto, 70% auto;
    }

    
    .priglosWrap {
        width: 80%;
        display: flex;
        flex-direction: column;
        margin-bottom: 200px;
    }
    
    .merriedTitle {
        color: #454545;
        font-family: "Cormorant";
        font-weight: 400;
        font-size: 30px;
        margin-bottom: 20px;
    }
    
    .merriedText {
        color: #454545;
        font-family: "Cormorant";
        font-weight: 400;
        font-size: 16px;
        line-height: 1.45;
    }
    
    .bigDateTitle {
        height: 34px;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #dbaf96;
        border-bottom: 1px solid #dbaf96;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .dateText {
        padding-bottom: 3px;
        color: #dbaf96;
        font-family: "Cormorant";
        font-weight: 400;
        font-size: 20px;
    }

     .sliderWrap {
        width: 100%;
        justify-content: flex-start;
        background-position: 48% 24%;
        background-size: 80% auto, 60% auto;
     }

    .sliderBlock {
        width: 70%;
        display: flex;
        margin-left: 40px;
     }
     
     .sliderTitle {
         color: #454545;
         font-family: "Cormorant";
         font-weight: 400;
         font-size: 30px;
     }

     .programTitleWrap {
        margin-bottom: 50px;
     }

     .programTitle {
        color: #454545;
         font-family: "Cormorant";
         font-weight: 400;
         font-size: 30px;
     }

     .programWrap {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .programTitle {
        align-self: flex-start;
        font-size: 28px;
     }

     .firstBlock {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }
    
    .secondBlock {
        width: 90%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .imgBlock {
        background-position: 50% 100%;
        background-size: 100% auto;
        padding-bottom: 36px;
     }

     .imgBlockSecond {
       padding-bottom: 58px;
       background-size: 90% auto;
    }

    .imgFirst {
        height: 330px;
        width: 100%;
        margin-bottom: 20px;
    }

    .imgSec {
        height: 330px;
        width: 100%;
        margin-bottom: 20px;
    }

    .textBlock {
        padding-top: 22px;
    }

    .rowTitle {
        font-size: 22px;
    }

    .row {
        width: 100%;
        display: flex;
        padding-top: 10px;
        padding-bottom: 10px;
        border-bottom: 1px solid #dbaf96;
        color: #454545;
        font-size: 16px;
        font-family: "Cormorant";
        font-weight: 400;
    }

    .wishBlock {
        width: 80%;
        background-position: 70% 10%;
        background-size: 80% auto;
    }
    
    .wishTitleWrap {
        width: 80%;
        margin-bottom: 50px;
     }
    
    .wishTitle {
        font-size: 32px;
    }
    
    .confirmWrap {
        width: 80%;
        background-position: 100% 10%;
        background-size: 40% auto;
    }

    .confirmTitle {
        font-size: 32px;
    }

    .confirmText {  
        font-size: 20px;
    }
    
    .wishText {
        font-size: 20px; 
    }

    .textInput {
        width: 92.6%;
    }

    .confirmBlock {
        background-position: 95% 0%;
        background-size: 50% auto;
    }

    .nameBlock {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .finalBlock {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .finalPicture {
        height: 400px;
        width: 300px;
    }

    .finalText {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .finalTitle {
        width: 80%;
        font-size: 28px;
    }

    .finalSubtitle {
       text-align: center;
    }

    .finalImg {
        height: 360px;
        width: 260px;
    }
}


@media (min-device-width: 569px) and (max-device-width: 1103px) {
    .titleBlock {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-around;
        height: 170px;
        margin-top: 80px;
        margin-bottom: 60px;
    }
    .nameTitle {
        width: 100%;
        color: #454545;
        font-family: "Cormorant";
        font-weight: 400;
        font-size: 52px;
        margin-bottom: 16px;
    }
    .dateTitle {
        color: #454545;
        font-family: "Cormorant";
        font-weight: 400;
        font-size: 38px;
        margin-bottom: 26px;
    }
    
    .subTitle {
        color: #dbaf96;
        font-family: "Cormorant";
        font-weight: 400;
        font-size: 24px;
    }

    .priglosBlock{
        background-position: 30% 2%,  center right;
        background-size: 90% auto, 60% auto;
    }
    
    .priglosWrap {
        width: 70%;
        display: flex;
        flex-direction: column;
        margin-bottom: 200px;
    }
    
    .merriedTitle {
        color: #454545;
        font-family: "Cormorant";
        font-weight: 400;
        font-size: 36px;
        margin-bottom: 20px;
    }
    
    .merriedText {
        color: #454545;
        font-family: "Cormorant";
        font-weight: 400;
        font-size: 18px;
        line-height: 1.45;
    }
    
    .bigDateTitle {
        height: 44px;
        width: 70%;
        display: flex;
        justify-content: center;
        align-items: center;
        border-top: 1px solid #dbaf96;
        border-bottom: 1px solid #dbaf96;
        margin-top: 20px;
        margin-bottom: 20px;
    }
    
    .dateText {
        padding-bottom: 3px;
        color: #dbaf96;
        font-family: "Cormorant";
        font-weight: 400;
        font-size: 26px;
    }

     .sliderWrap {
        width: 80%;
        justify-content: flex-start;
        background-position: 88% 20%;
        background-size: 80% auto, 60% auto;
     }

    .sliderBlock {
        width: 70%;
        display: flex;
        margin-left: 40px;
     }
     
     .sliderTitle {
         color: #454545;
         font-family: "Cormorant";
         font-weight: 400;
         font-size: 30px;
     }

     .programTitleWrap {
        margin-bottom: 50px;
     }

     .programWrap {
        width: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .programTitle {
        align-self: flex-start;
        font-size: 30px;
     }

     .firstBlock {
        width: 90%;
        display: flex;
        flex-direction: column;
        margin-bottom: 100px;
    }
    
    .secondBlock {
        width: 90%;
        display: flex;
        flex-direction: column-reverse;
        justify-content: space-between;
    }

    .imgBlock {
        background-position: 50% 100%;
        background-size: 90% auto;
        padding-bottom: 58px;
     }

     .imgBlockSecond {
       padding-bottom: 92px;
       background-size: 90% auto;
    }

    .imgFirst {
        height: 430px;
        width: 100%;
        margin-bottom: 20px;
    }

    .imgSec {
        height: 430px;
        width: 100%;
        margin-bottom: 20px;
    }

    .textBlock {
        padding-top: 22px;
    }

    .rowTitle {
        font-size: 26px;
    }

    .row {
        width: 100%;
        display: flex;
        padding-top: 16px;
        padding-bottom: 16px;
        border-bottom: 1px solid #dbaf96;
        color: #454545;
        font-size: 20px;
        font-family: "Cormorant";
        font-weight: 400;
    }

    .wishBlock {
        width: 80%;
        background-position: 70% 10%;
        background-size: 80% auto;
    }
    
    .wishTitleWrap {
        width: 80%;
        margin-bottom: 50px;
     }
    
    .wishTitle {
        font-size: 34px;
    }
    
    .confirmWrap {
        width: 80%;
        background-position: 100% 10%;
        background-size: 40% auto;
    }

    .confirmTitle {
        font-size: 34px;
    }

    .confirmText {  
        font-size: 22px;
    }
    
    .wishText {
        font-size: 22px; 
    }

    .textInput {
        width: 96.8%;
    }

    .confirmBlock {
        background-position: 95% 0%;
        background-size: 50% auto;
    }

    .nameBlock {
        width: 100%;
        display: flex;
        flex-direction: column;
        gap: 30px;
    }

    .finalBlock {
        width: 90%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        flex-wrap: wrap;
    }

    .finalPicture {
        height: 500px;
        width: 400px;
    }

    .finalText {
        text-align: center;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .finalTitle {
        width: 80%;
        font-size: 32px;
    }

    .finalSubtitle {
       text-align: center;
       font-size: 26px;
    }

    .finalImg {
        height: 460px;
        width: 360px;
    }
}